body{background-color: lightgray;}
h1 {
text-align: center;
color: #46e7f5;
font-family: Arial, Helvetica, sans-serif;
}

body{  font-family: Arial, Helvetica, sans-serif;
}

/*Stickea todo el header + relleno, etc*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color:#fffffff5;
    
}
footer {background-color: #fffffff5;
    font-family: Arial, Helvetica, sans-serif;
}
#logo_dotels {
    text-align:right;
}

#logo_wpp {
    text-align: right;
}