/*body{background-image: url();}*/

/*FUENTE DEL BODY*/
    body{  font-family: Arial, Helvetica, sans-serif;
    }

/*LOGO DOTELS HEADER POSICIÓN*/
    .logo-dotels-oficial{
        top: 25%;
        position: relative;
    }

/*CAMBIO EL COLOR DEL TÍTULO*/
    .dotels{
        color: #46e7f5;
        top:25%;
        position: relative;
    }
/*ÍCONOS DEL HEADER*/
    .iconos-header{
        top:25%;
        position:relative;
    }
/*Stickea todo el header + relleno, etc*/
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 5px;
        background-color:#7cd0ccf9;
        min-height: 100px;
        
    }
/*PROPIEDADES FOOTER*/
    footer {
        background-color: #7cd0ccf2;
        font-family: Arial, Helvetica, sans-serif;
    }   


/*TÍTULO "DOTELS*/
    .header-dotels{
        color: #46e7f5;
        flex-grow: 5;
        flex-basis: 50%;
    }


/*LINK DE CONTACTO*/

    /*LINK NO VISITADO*/
        a:link {
            color: green;
        }

    /*MOUSE SOBRE EL LINK*/
        /*a:hover {
            color: hotpink;
        }

    /*LINK VISITADO*/
        a:visited {
            color: #7cd0ccf2;
        }
        
    /*LINK SELECCIONADO*/
        a:active {
            color: blue;
        }
